html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color:#2563eb;
    padding-left: 20px;
    font-weight: bold;
}

/*display for list and text*/
ul {
    list-style-type: none;
    padding: 0;
}

p {
    color: white;
}

/*List without useless dot*/
.makeRightList {
    display: grid;
    grid-template-columns: auto  1fr;
    align-items: center;
    gap: 10px;
}

/*SideBare Header Part*/
.up_logo {
    display: grid;
    grid-template-columns: auto  1fr;
    align-items: center;
    gap: 10px;
}

.up_logo p {
    font-size: 25px;
}

.up_logo_img {
    min-height: 50px;
    min-width: 50px;
}

/*SideBare Content*/

img {
    min-height: 25px;
    min-width: 25px;
}

.makeRightList {
    display: grid;
    gap: 20px;
    margin-left: 15px;  /*to align with the up_logo*/
}

.down_parameters{
    padding-top: 10px;
}

.up_parameters {
    padding-top: 5px;
}

/*Header Part*/



/*MainContent Part*/
.main_content {
    background-color: #d1d5db;
}

/* {
    border: 1px solid red;
}

